@import "../../variables/variables";
.login {
  height: 100vh;
  width: 100%;
  background-color: $dark;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
  .login__form {
    height: auto;
    min-height: 300px;
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    .login-form__description {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 22px;
      color: $white;
      margin-bottom: 20px;
      text-transform: capitalize;
    }
    .login-form__input {
      box-sizing: border-box;
  
      width: 320px;
      height: 52px;
      border: 1px solid $white;
      border-radius: 50px;
      background: none;
      margin-bottom: 20px;
      padding-left: 20px;
      color: $white;
      &::placeholder {
        text-transform: capitalize;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-box-shadow: 0 0 0 30px #000 inset !important;
        -webkit-text-fill-color: #fff;
      }

    }
    .login-form__forgot {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $white;
      margin-top: 20px;
      margin-bottom: 20px;
    }
    .login-form__terms-container {
      width: 320px;
      height: 78px;
      background: $darkgray;
      border-radius: 6px;
      margin-top: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      .login_form__terms-text {
        height: 34px;
        padding: 0 20px;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: $white;
        opacity: 0.6;
      }
    }
  }
}
