@import "../../variables/variables";
.btn {
  width: 228px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: capitalize;
  font-weight: 600;
  transition: all ease 0.2s;
  background: $color;
  color: $dark;
  border-radius: 62px;
  cursor: pointer;
  &:hover {
    opacity: 0.7;
  }
}
.btn--small {
  height: 30px;
  width: auto;
  padding: 0 20px;
}
.btn--fill {
  width: 100%;
}

.btn--google {
  background: #fff;
}
