@import '../../variables/variables';
.menu_wrapper {
  // background: linear-gradient(#333333,#00000000);
  background: $dark;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 8888;
  transition: all ease .2s;
  .menu_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - ($side / 4));
    .menu_container_logo_and_drag {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .user_wrapper {
      display: flex;
      align-items: center;
      justify-content: center;

      .language {
        height: 20px;
        width: 20px;
        cursor: pointer;
      }

      .icon_top {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        background: $darkgray;
        margin: 0 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        cursor: pointer;
        i {
          font-size: 12px;
        }
      }
      .cart_container {
      }
      .user_container {
        width: 35px;
        height: 35px;
        border-radius: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 35px;
          height: 35px;
          border-radius: 35px;
          background: url(https://react.semantic-ui.com/images/wireframe/square-image.png)
            no-repeat;
          background-size: contain;
        }
      }

      .username_container {
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
      }
    }
  }
}
.signout {
  cursor: pointer;
  height: 40px;
  width: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-transform: capitalize;
  font-weight: 500;
  a {
    color: $white;
  }
  &:hover {
    background: #ffffff23;
  }
}

.pop {
  width: 150px !important;
  padding: 0;
}

.active {
  height: 50px;
  background: $dark;
}
