@import '../../variables/variables';
.artist_box_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .artist_wrapper{
        width: 158.75px;
        height: 158.75px;
        background: $darkgray;
      
        border-radius: 150px;
        cursor: pointer;
        transition: all ease .2s;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: 100%;
            border-radius: 150px;
        }
        &:hover{
            opacity: .8;
        }
    }
    .artist_name{
        text-transform: capitalize;
    }
}
