@import '../../variables/variables';
.profile_wrapper {
  background: $dark;
  color: $white;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .profile_container_all {
    border: 1px solid #ffffff23;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .profile_container {
      width: 630px;
      height: 610px;
      background-color: $darkgray;
      padding: 20px 30px 20px 30px;
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-direction: column;
      .box_profile {
        margin-bottom: 40px;
        .subtitle {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: $textColor;
          text-transform: capitalize;
        }
        .info {
          font-family: 'Inter';
          font-style: normal;
          font-weight: 700;
          font-size: 18px;
          line-height: 22px;
          text-transform: capitalize;

          color: $white;
        }

        .boxed-myplan {
          box-sizing: border-box;
          width: 586px;
          height: 60px;
          border: 1px solid $color;
          border-radius: 6px;
          margin-top: 10px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          display: flex;
          padding: 0 30px;
          .subtitle {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 22px;
            text-transform: capitalize;
            color: $white;
            span {
              font-size: 10px;
              text-transform: uppercase;
              margin-right: 10px;
            }
          }

          .change-your-plan {
            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 15px;
            line-height: 18px;
            color: $color;
            span {
              font-size: 10px;
              text-transform: uppercase;
              margin-right: 10px;
              color: $white;
            }
          }
        }
      }
    }
  }
}
