@import '../../variables/variables';
.home_wrapper {
  background: $dark;
  color: $white;
  min-height: 100vh;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 100px 0;
  .home_container {
    width: calc(100% - $side);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    z-index: 20;
      .tracks_home_container{
        width: 100%;
        .filter_container{
          height: 30px;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          margin: 20px 0;
          .filter_name{
            text-transform: uppercase;
            font-size: $textColor;
            font-size: 10px;
            cursor: pointer;
            i{
              font-size: 10px;
            }
          }
        }
      }
  }
}
