.checkout {
  height: 100vh;
  width: 100%;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}
.checkout .checkout__describe-of-product {
  width: 550px;
  min-height: 510px;
  height: auto;
  background: #171717;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  text-align: left;
  padding: 0px 0 30px 0;
  border-radius: 10px;
  margin: 0 20px;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container {
  width: 90%;
  margin: 0 auto;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container .checkout__box-price-product {
  box-sizing: border-box;
  width: 100%;
  height: 71px;
  border: 1px solid #333333;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 30px 0 0;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container .checkout__box-price-product .price {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container .checkout__box-price-product .qrcode_link {
  font-size: 12px;
  color: #797979;
  padding: 20px;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container .checkout__pix-paymente-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container .box_info_plan {
  width: 100%;
  height: 60px;
  color: #ffffff;
  background: rgba(217, 217, 217, 0.12);
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: 20px 0;
}
.checkout .checkout__describe-of-product .checkout__describe-of-product-container .box_info_plan .text_info_plan {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
}
.checkout .checkout__describe-of-product .ui.checkbox {
  margin-left: 30px;
}
.checkout .checkout__describe-of-product .ui.checkbox label {
  color: #fff;
}
.checkout .qrcode_image_container {
  width: 547px;
  min-height: 510px;
  height: auto;
  background: #171717;
  border-radius: 10px;
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 30px;
}
.checkout .qrcode_image_container .total_billing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #fff;
}
.checkout .qrcode_image_container .total_billing .price {
  font-size: 20px;
}
.checkout .qrcode_image_container .total_billing .price::before {
  content: "R$";
}
.checkout .qrcode_image_container .qrcode_image {
  width: 200px;
  height: 200px;
  margin: 30px auto;
  border: 1px solid rgba(255, 255, 255, 0.137254902);
  display: flex;
  align-items: center;
  justify-content: center;
}
.checkout .qrcode_image_container .qrcode_image img {
  width: 90%;
  height: 90%;
}
.checkout .qrcode_image_container .terms {
  color: #797979;
}/*# sourceMappingURL=style.css.map */