@import '../../variables/variables';

.player {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  height: 70px;
  margin-bottom: 10px;

  .music_information {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: 550px;
    .music_information__cover {
      width: 50px;
      height: 50px;
      background: #d9d9d9;
      // margin-right: 20px;
      img {
        width: 100%;
        height: 100%;
      }
    }
    button {
      width: 50px;
      height: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      background: none;
      background-color: #ffffff15;
      border-radius: 50px;
      cursor: pointer;
      transition: all ease .2s;
      margin: 0 20px;

      i {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 12px;
        position: relative;
        left: 1px;
      }
      &:hover {
        background-color: #ffffff2a;
      }
    }

    .title-music {
      .title-music__sound {
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: $text;
      }
      .title-music__artist {
        font-style: normal;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: $textColor;
      }
    }
  }
  .category {
    text-transform: capitalize;
    color: $textColor;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .wave_wrapper {
    height: 50px;
    width: calc(100% - 800px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  .wave_container {
    width: 100%;
    height: 70px;
    wave {
      height: 35px !important;
      position: relative;
      top: 20px;
    }
  }
}

.vol_container {
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  .slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }

  .slider:hover {
    opacity: 1;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background: #ffffff;
    cursor: pointer;
  }

  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #ffffff;
    cursor: pointer;
  }
}

.duration {
  font-style: normal;
  font-size: 10px;
  line-height: 17px;
  text-transform: capitalize;
  color: #d9d9d9;
  margin: 0 30px;
  white-space: nowrap;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.track_container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 100%;
  height: 70px;
  margin-bottom: 20px;
}
