@import "../../variables/variables";
.banner_wrapper {
  height: 30vh;
  width: 100%;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  background-position: 500px -250px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .overlay {
    height: 110vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0), $dark 80%),
      url(../../assets/malha2.png);
    position: absolute;
    z-index: 1;
  }

  #background-video {
    width: 100%;
    position: absolute;
    z-index: 0;
  }

  .text_banner_container {
    width: 683px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 10;
    .text {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      font-size: 56px;
      line-height: 68px;
      text-transform: capitalize;
      color: $white;
      margin-bottom: 20px;
    }
  }
}
